*{
  padding: 0;margin: 0;
  box-sizing: border-box;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    top: 0;
    z-index: 999;
    height: 60px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

}

.header .searchInput{
    flex: 1;
    min-width: 10px;
    max-width: 500px;
    height: 70%;
    overflow: hidden;
    border-radius: 5px;
}

.header .searchInput form{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  
}

.header .searchInput form input{
  flex: 1;
  height: 100%;
  padding: 10px;
  outline: none;
}

.header .searchInput form button{
  background: orange;
  height: 100%;
  width: 90px;
  margin-left: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s ease;
}

.header .searchInput form button:hover{
  opacity: .8;
}

.header > .block1{
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header > .block2{
  padding: 0 15px;
 
}

.header > .block2 > a{
  color: #fff;
  text-transform: uppercase;
}

.header .blockDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}

.header > .blockDiv .block4{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all .3s ease;
}

.header > .blockDiv  .accountPopup{
  position: absolute;
  top: 60px;
  background: #fff;
  color: #333;
  width: 200px;
  right: 50px;
  min-height: 80px;
  box-shadow: 0 0 2px #333;
  padding: 5px;
  border-radius: 5px;
  transition: all .3s ease;
  z-index: 100;
}

.header > .blockDiv  .accountPopup::after{
  content: '';
  position: absolute;
  background: #fff;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 20px;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}

.header  .accountPopup a{
  color: #000;
  font-size: 18px;

}



.header .accountPopup a p{
  color: #000;
  height: 40px;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 5px;
  line-height: 40px;
  padding: 0 5px;
  background: #fff;
  transition: all .3s ease;
}

.header .accountPopup a p:hover{
  background: #dcc;
  height: 40px;
}


.header > .blockDiv .block5{
  cursor: pointer;
}

.header > .blockDiv .block5 p{
  position: relative;
}
.header > .blockDiv .block5 a{
  color: #fff;
}

.header > .blockDiv .block5 p > aside{
  position: absolute;
  top: -10px;
  left: 10px;
  background: red;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}


@media only screen and (max-width: 768px) {
  /** for tablet */
}

@media only screen and (max-width: 480px) {
  /** for mobile */
  .header .searchInput{
    position: absolute;
    top: 60px;
    background: green;
    width: 100%;
    left: 0;
    right: 0;
  }

  .header .blockDiv span{
    display: none;
  }

  .header .blockDiv .arrowDown{
    display: none;
  }

  .header > .blockDiv  .accountPopup{
  position: absolute;
  top: 60px;
  background: #fff;
  color: #333;
  width: 300px;
  min-height: 80px;
  box-shadow: 0 0 2px #333;
  padding: 5px;
  border-radius: 5px;
  transition: all .3s ease;
  z-index: 100;
  }

  .header > .blockDiv  .accountPopup::after{
    content: '';
    position: absolute;
    background: #fff;
    width: 20px;
    height: 20px;
    top: 1px;
    left: 260px;
    transform: translateY(-50%) rotate(45deg);
  }
}