*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ProductContainer{
    width: 100%;
    height: 100vh;
    margin-top: 60px;
}

.ProductContainer .moveText{
    text-align: center;
    position: relative;
    width: 100%;
    height: 15px;
    overflow: hidden;
}

.ProductContainer .moveText .textIn{
  width: 100%;
  color: #ccc;
  font-size: 12px;
  text-align-last: left;
  position: absolute;
  animation: moveText 100s linear infinite;
}

.ProductContainer .containerGrid{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.ProductContainer .containerGrid .eachContainer{
    overflow: hidden;
    height: 350px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.ProductContainer .containerGrid .eachContainer .image{
    height: 60%;
    overflow: hidden;
    border-radius: 4px;
}

.ProductContainer .containerGrid .eachContainer .image img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.ProductContainer .containerGrid .eachContainer .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ProductContainer .containerGrid .eachContainer .details .productDetails{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-transform: capitalize;
}

.ProductContainer .containerGrid .eachContainer .details .productDetails .fakePrice{
    text-decoration: line-through;
    font-weight: 400;
    position: absolute;
    right: 65px;
    font-size: 12px;
}

.ProductContainer .containerGrid .eachContainer .cartLike{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    margin-top: 10px;
}

.eachContainer .cartLike p{
    cursor: pointer;
    transition: opacity .3s ease;
    padding: 5px;
    border-radius: 20px;
    font-size: 12px;
    background: #ccc;
}

.cartLike .cartLikeIn.clicked {

    color: red;
}


.cartLike .cartLikeIn.clicked span{
    color: #000;
}

.eachContainer .cartLike p:hover{
    opacity: .7;
}

.eachContainer .user{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  justify-content: left;
}

.eachContainer .user img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.eachContainer .user p{
    color: #333;
    font-weight: 600;
}

@keyframes moveText {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 768px) {
    /** for tablet */
    .ProductContainer .containerGrid{
        grid-template-columns: repeat(2, 250px);
    }
  }

  @media only screen and (max-width: 820px) {
    /** for tablet */
    .ProductContainer .containerGrid{
        grid-template-columns: repeat(2, 250px);
    }
  }

  @media only screen and (max-width: 884px) {
    /** for tablet */
    .ProductContainer .containerGrid{
        grid-template-columns: repeat(2, 250px);
    }
  }


  @media only screen and (max-width: 834px) {
    /** for tablet */
    .ProductContainer .containerGrid{
        grid-template-columns: repeat(2, 250px);
    }
  }



  

  
  @media only screen and (max-width: 480px) {
    /** for mobile */
    .ProductContainer{
        margin-top: 100px;
    }

    .ProductContainer .containerGrid{
        grid-template-columns: repeat(1, 100%);
        padding: 0 5px;
    }
  }
  